<article class="card">
	{{- if .Params.thumbnail }}
	<a class="card__thumbnail" href="{{ .RelPermalink }}">
		<img class="card__image" src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" loading="lazy">
	</a>
	{{- end }}
	<div class="card__body">
		{{- with .Params.categories }}
		<div class="card__category">
			{{- range $i, $cat := . }}
				{{- if gt $i 0 }}, {{ end }}{{ $cat }}
			{{- end }}
		</div>
		{{- end }}
		<h2 class="card__title">
			<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		</h2>
		<time class="card__date" datetime="{{ .Date.Format "2006-01-02" }}">
			{{ .Date.Format "2006.01.02" }}
		</time>
		{{- with .Description }}
		<p class="card__description">{{ . }}</p>
		{{- end }}
	</div>
</article>
